In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import matplotlib.pyplot as plt
import pandas as pd
import time
import requests
import json

# Part 1: Automated Web Scraping utility to pull data from steam charts

In [2]:
browser = Browser('chrome')

In [3]:
# Visit the website
# https://store.steampowered.com/charts/topselling/CA
url = "https://store.steampowered.com/charts/topselling/CA"
browser.visit(url)

In [4]:
#Create a list to store the countries
country_list = ['Global','Canada','Japan','China','United Kingdom','France']

In [5]:
# Create an empty dictionary to hold game names for each country
game_names_by_country = {country: [] for country in country_list}

In [6]:
# Loop through the country list

for country in country_list:
    
    # Simulating dropdown selection in the browser
    dropdown_container = browser.find_by_css('.DialogDropDown').first
    dropdown_container.click()
    
    # Click on the specific country in the dropdown list
    country_option = browser.find_by_xpath(f"//div[text()='{country}']").first
    country_option.click()
    
    time.sleep(2)
        
    html = browser.html
    
    soup_obj = soup(html, 'html.parser')
    
    # Extract game elements for the specified country
    game_elements = soup_obj.find_all('div', class_='weeklytopsellers_GameName_1n_4-')
    
    # Add extracted game names to the corresponding country's list
    for game in game_elements:
        game_names_by_country[country].append(game.text.strip())

In [7]:
# Creating a dictionary to organize game data by country

data = {'Country': [], 'GameNames': []}
for country, games in game_names_by_country.items():
    data['Country'].extend([country] * len(games))
    data['GameNames'].extend(games)

In [8]:
df = pd.DataFrame(data)
df

    Country                                          GameNames
0    Global                                         Steam Deck
1    Global                                     Lethal Company
2    Global                                   Counter-Strike 2
3    Global                                PUBG: BATTLEGROUNDS
4    Global                                      Call of Duty®
..      ...                                                ...
595  France                    Icarus: New Frontiers Expansion
596  France                        Sea of Thieves 2023 Edition
597  France  Microsoft Flight Simulator 40th Anniversary Ed...
598  France                                               Raft
599  France        The Elder Scrolls V: Skyrim Special Edition

[600 rows x 2 columns]

In [10]:
# Adding an 'Index' column that counts the games for each country
df['Index'] = df.groupby('Country').cumcount() + 1

In [11]:
sorted_data = df.sort_values(by=['Country', 'Index'])

In [12]:
sorted_data

            Country                                          GameNames  Index
100          Canada                                         Steam Deck      1
101          Canada                                     Lethal Company      2
102          Canada                                   Counter-Strike 2      3
103          Canada                                      Call of Duty®      4
104          Canada                                    Baldur's Gate 3      5
..              ...                                                ...    ...
495  United Kingdom                            Train Simulator Classic     96
496  United Kingdom                      STAR WARS™: The Old Republic™     97
497  United Kingdom        Disney Dreamlight Valley - Ultimate Edition     98
498  United Kingdom  Microsoft Flight Simulator 40th Anniversary Ed...     99
499  United Kingdom                        Dragon's Dogma: Dark Arisen    100

[600 rows x 3 columns]

In [14]:
# Create a DataFrame to store the top 10 games for each country
top_10_per_country = df.groupby('Country').head(10)

# Save the DataFrame to a CSV file
top_10_per_country.to_csv('top_10_games_per_country.csv', index=False)

# Part 2: API calls to steamspy to retrieve games based on genre

In [ ]:
# Define the base URL for the Steam Spy API
base_url = "https://steamspy.com/api.php"

In [ ]:
# List of genres you want to analyze
genres = ["Action", "Strategy", "RPG", "Indie", "Adventure", "Sports", "Simulation"]

In [ ]:
# Create an empty dictionary to store data for each genre
genre_data = {}

In [ ]:
# Make API requests for each genre and store the retrieved data
for genre in genres:
    params = {
        "request": "genre",
        "genre": genre
    }
    
    # Make the GET request to the API
    response = requests.get(base_url, params=params)
    
    if response.status_code == 200:
        # Store the retrieved data in the dictionary using the genre as the key
        genre_data[genre] = response.json()
    else:
        print(f"Failed to fetch data for {genre}. Status code:", response.status_code)

# Convert the retrieved data for each genre into Pandas DataFrames
genre_dataframes = {}
for genre, data in genre_data.items():
    # Convert the data for each genre into a DataFrame
    genre_dataframes[genre] = pd.DataFrame.from_dict(data, orient='index')

# Access and manipulate the dataframes for each genre
for genre, df in genre_dataframes.items():
    print(f"DataFrame for {genre}:")
    print(df.head())  # Display the first few rows of each DataFrame
    print("\n")

In [ ]:
# Convert price column from cents to dollars
for genre, df in genre_dataframes.items():
    price_columns = ['price', 'initialprice']  # Replace with your actual column names

    if not df.empty:
        # Check if the specified columns exist in the DataFrame
        valid_columns = [col for col in price_columns if col in df.columns]

        if valid_columns:
            # Convert each valid price column from string to numeric type (if necessary)
            for col in valid_columns:
                df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert strings to numeric values

            # Perform division by 100 to convert from cents to dollars
            df[valid_columns] = df[valid_columns] / 100  # Division by 100 for cents to dollars
            
            # Dropping columns with null values
            df.dropna(inplace=True) 

            # Export the modified DataFrame to a CSV file
            df.to_csv(f'{genre}_data_converted.csv', index=False)
        else:
            print(f"No valid price columns found in DataFrame for {genre}.")
    else:
        print(f"DataFrame for {genre} is empty.")

In [ ]:
genre_dataframes['Indie']

# Part 3: Dataset manipulation

# Total CCU by Genre:

In [ ]:
# Create a function to calculate total concurrent players
def calculate_total_ccu(df):
    total_ccu = df['ccu'].sum()
    print(f"Total CCU for the DataFrame:\n{total_ccu}")
    print(f"CCU values for the DataFrame:\n{df['ccu']}")
    return total_ccu

In [ ]:
total_ccu_Action = calculate_total_ccu(genre_dataframes["Action"])

In [ ]:
total_ccu_per_genre = []

for genre in genres:
         if valid_columns:
            total_ccu = calculate_total_ccu(genre_dataframes[genre])
            total_ccu_per_genre.append(total_ccu)

In [ ]:
total_ccu_per_genre

In [ ]:
genre_totals = pd.DataFrame({
    'Genre': genres,
    'Total_Concurrent_Users': total_ccu_per_genre
})
genre_totals

# Positive-to-Negative Reviews Ratio:

In [ ]:
# Create a function to calculate the review ratio

def calculate_review_ratio(df):
    df['Reviews_Ratio'] = df['positive'] / df['negative'].replace(0, 1)
    return df

In [ ]:
for genre, df in genre_dataframes.items():
    if not df.empty:
        genre_dataframes[genre] = calculate_review_ratio(df)

In [ ]:
genre_reviews_ratios = {}
for genre, df in genre_dataframes.items():
    if not df.empty:
        genre_reviews_ratios[genre] = {
            'Mean_Ratio': df['Reviews_Ratio'].mean(),
            'Median_Ratio': df['Reviews_Ratio'].median()
        }

In [ ]:
genre_reviews_ratios_df = pd.DataFrame(genre_reviews_ratios).transpose()

In [ ]:
genre_reviews_ratios_df['Mean_Ratio'] = genre_reviews_ratios_df['Mean_Ratio'].round(2)
genre_reviews_ratios_df['Median_Ratio'] = genre_reviews_ratios_df['Median_Ratio'].round(2)

In [ ]:
genre_reviews_ratios_df

In [ ]:
genre_reviews_ratios_df.to_csv('genre_reviews_ratios.csv')

# Ownership Distribution by Genre:

In [ ]:
# Establish ownership buckets
ownership_buckets = [
    (0, 20000),
    (20000, 50000),
    (50000, 100000),
    (100000, 200000),
    (200000, 500000),
    (500000, 1000000),
    (1000000, 2000000),
    (2000000, 5000000),
    (5000000, 10000000),
    (10000000, 20000000),
    (20000000, 50000000),
    (50000000, 100000000)
]

In [ ]:
# Clean 'owners' column and extract numerical values
df['owners'] = df['owners'].str.replace(',', '')  # Remove commas
df['owners'] = df['owners'].str.replace(' .. ', '-')  # Replace '..' with '-'

# Extract representative values from ranges (midpoint for simplicity)
df['owners'] = df['owners'].apply(lambda x: sum(map(int, x.split('-'))) / 2 if '-' in x else int(x) if x.isdigit() else 0)

# Convert the 'owners' column to integer type
df['owners'] = df['owners'].astype(int)

In [ ]:
# Clean 'owners' column and extract numerical values for Simulation DataFrame
genre_dataframes['Simulation']['owners'] = genre_dataframes['Simulation']['owners'].str.replace(',', '')  # Remove commas
genre_dataframes['Simulation']['owners'] = genre_dataframes['Simulation']['owners'].str.replace(' .. ', '-')  # Replace '..' with '-'

# Extract representative values from ranges (midpoint for simplicity)
genre_dataframes['Simulation']['owners'] = genre_dataframes['Simulation']['owners'].apply(lambda x: sum(map(int, x.split('-'))) / 2 if '-' in x else int(x) if x.isdigit() else 0)

# Convert the 'owners' column to integer type
genre_dataframes['Simulation']['owners'] = genre_dataframes['Simulation']['owners'].astype(int)

In [ ]:
# Create a DataFrame to store ownership distribution by genre
ownership_distribution_by_genre = pd.DataFrame(columns=['Genre'] + [f'Ownership_{i[0]}_{i[1]}' for i in ownership_buckets])

In [ ]:
# Create an empty list to store dictionaries for each genre's ownership counts
genre_bucket_counts_list = []

# Loop through each genre DataFrame and calculate bucket counts
for genre, df in genre_dataframes.items():
    print(f"Data type before loop iteration for {genre}: {df['owners'].dtype}")
    
    bucket_counts = {f'Ownership_{i[0]}_{i[1]}': 0 for i in ownership_buckets}

    # Calculate counts of games falling into each ownership bucket for the current genre
    for bucket_range in ownership_buckets:
        lower_limit, upper_limit = bucket_range
        games_in_bucket = df[(df['owners'] >= lower_limit) & (df['owners'] < upper_limit)]
        bucket_counts[f'Ownership_{lower_limit}_{upper_limit}'] = len(games_in_bucket)
    
    print(f"Data type after loop iteration for {genre}: {df['owners'].dtype}")
    
    # Append the dictionary of bucket counts for the current genre to the list
    genre_bucket_counts_list.append({'Genre': genre, **bucket_counts})

# Convert the list of dictionaries to a DataFrame
ownership_distribution_by_genre = pd.DataFrame(genre_bucket_counts_list)

In [ ]:
ownership_distribution_by_genre

In [ ]:
ownership_distribution_by_genre.to_csv('ownership_distribution.csv')